@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  overflow-y: hidden;
}
a {
  text-decoration: none;
}
.menu {
  font-family: "Montserrat-Medium";
  font-size: 1.6vw;
  display: flex;
  gap: 35px;
  justify-content: center;
  margin: 0 auto;
}
.logo-header {
  width: 150px;
}
.shape {
  width: 35px;
  height: 6px;
  position:relative;
  display: block;
  background-color: black;
}
.shape::before {
  content: "";
  background-color: black;
  width: 35px;
  height: 6px;
  position: absolute;
  top: 10px;
}
  .shape::after {
    content: "";
    background-color: black;
    width: 35px;
    height: 6px;
    position: absolute;
    bottom: 10px;}
    .header {
      width: 100%;
      margin-top: 25px;
    }
  .container {
    display: flex;
    margin: 0 auto;
    max-width: 92%;
    align-items: center;
    box-sizing: border-box;
    padding-left: 37px;
    padding-right: 37px;
    
  }
  .href {
    width: 150px;
    display: flex;
    justify-content: flex-end;
  }

  .text-container>*:first-child {
    font-family:'Montserrat-Regular';
    font-size: 1.35vw;
  }

  .text-container>*:last-child {
    font-family:'Montserrat-ExtraBold';
    font-size: 1.1vw;
    padding-top: 5px;
  }
.text-container {
  width: 30%;
  position: absolute;

  top: 140px;
}
.main {
  width: 100%;
  min-height: 80vh;

}
.main-container {
  width: 78%;
  margin: 0 auto;
  position: relative;
}
.circle {
  width: 40vw;
  position: absolute;
  left: calc(50% - 40vw/2);
  top:48px;


}
.human {
  width: 20vw;
  position: absolute;
  left: calc(50% - 20vw/2);
  top: 70px;
}
.title-main {
  font-size: 7vw;;
  font-family: 'Montserrat-Bold';
  position: absolute;
  min-width: 384px;
  line-height:80%;
  left:64%;
  top: 39vh;
}

.footer {
  max-width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-left: 37px;
  padding-right: 37px;
  box-sizing: border-box;
  align-items: flex-end;
}

.icon {
  width: 4vw;
}

.author {
  font-family:'Montserrat-SemiBold';
  font-size: 1.5vw;
}

@media (min-height: 1500px) {
  .main {
  min-height: 85vh;
  }
  .human {
  width: 27vw;
  left: calc(50% - 27vw/2);
  
}


@media (min-height: 1000px) {
  .main {
    min-height: 80vh;
}
  

.human {
  width: 25vw;
  left: calc(50% - 25vw/2);
  top: 102px;
}
.circle {
  width: 45vw;
  left: calc(50% - 45vw/2);

}

.href {
  width: 250px;
}

.logo-header {
  width: 250px;}


  .shape {
    width: 65px;}
    .shape::before {
      
      width: 65px;
      height: 8px;
      top: 20px;
      
    }
      .shape::after {
      bottom: 20px; 
      width: 65px;
      height: 8px;}
       

}
